.player {
    min-height: 10vh;
    @include flexColumn;
    justify-content: center;
    transition: all 0.5s ease;
}

.time-control {
    width: 50%;
    display: flex;
    align-items: center;
    input {
        width: 100%;
        background: transparent;
        -webkit-appearance: none;
        cursor: pointer;
    }
    p {
        padding: 1rem;
    }
}

.play-control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 2rem;
    width: 40%;
    svg {
        cursor: pointer;
    }
}

// SLIDER CUSTOMISATION
.track {
    background: transparent;
    width: 100%;
    height: 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.animate-track {
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    padding: 1rem;
    pointer-events: none;
}

input[type="range"] {
    &:focus {
        outline: none;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        background-color: transparent;
    }
    &::-moz-range-thumb {
        -moz-appearance: none;
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .time-control {
        width: 90%;
    }
    .play-control {
        width: 80%;
    }
}