@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
// ------------------ VARIABLES -------------------- //
$bg: #f7f5ef;
$darkDark: #16191b;
$dark: #212529;
$mid-dark: #2d3236;
$grey: #6d6875;
$dark-grey: #635e6d;
// ------------------ @MIXINS --------------------- //
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
}

body {
    height: 100%;
    background-color: $bg;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: $dark;
}

h1 {
    font-size: 2em;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h4 {
    font-weight: 300;
}

button,
h1,
h2,
h3,
h4 {
    letter-spacing: 0.1px;
}

h1 {
    font-size: 2em;
    letter-spacing: 1px;
}

.App {
    transition: all 0.5s ease;
}

.active {
    transform: translateX(10rem);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.8rem !important;
    }
}

@import "./Player";
@import "./Song";
@import "./Library";
@import "./Nav";